.DS_Store
*.pyc
/.idea
/.idea/modules.xml
/.idea/pyconcorde.iml
/.idea/vcs.xml
/concorde/_concorde.cpython-39-darwin.so
/concorde/.DS_Store
/pyconcorde.egg-info/dependency_links.txt
/pyconcorde.egg-info/not-zip-safe
/pyconcorde.egg-info/PKG-INFO
/pyconcorde.egg-info/requires.txt
/pyconcorde.egg-info/SOURCES.txt
/pyconcorde.egg-info/top_level.txt
/venv/
build/
concorde.egg-info/
concorde/_concorde.c
data/